In [1]:
import pandas as pd
import numpy as np

# Creamos 1000 productos ficticios para tu ferretería
n = 1000
data = {
    'ID': range(1, n + 1),
    'Producto': np.random.choice(['Martillo', 'Taladro', 'Tornillo', 'Pintura', 'Llave'], n),
    'Stock': np.random.randint(0, 100, n),
    'Precio': np.random.uniform(10, 500, n).round(2)
}
df = pd.DataFrame(data)
df.to_csv('inventario.csv', index=False)
print("¡Archivo de inventario creado!")

¡Archivo de inventario creado!

In [2]:
# Vamos a ver los productos que se están agotando (menos de 5 unidades)
faltantes = df[df['Stock'] < 5]
print("--- PRODUCTOS POR AGOTARSE ---")
print(faltantes.head())

# Calculamos cuánto dinero hay invertido en total
total_dinero = (df['Stock'] * df['Precio']).sum()
print(f"\nInversión total en la ferretería: ${total_dinero:,.2f}")

--- PRODUCTOS POR AGOTARSE ---
      ID  Producto  Stock  Precio
19    20     Llave      1  443.50
31    32   Pintura      3  347.59
54    55   Taladro      3  242.95
80    81  Martillo      1  377.57
106  107  Tornillo      1  489.83

Inversión total en la ferretería: $12,730,728.94